<html>
<head>
	<title>Actors</title>
</head>
<body>
	<h3>Select an Actor to add to {{film.title}}</h3>
      <br>
      <form action="add_actor_to_film" method="POST">
         <label>Actor</label>
         <select name="actor_id">
            {% for data in actors %}
            <option value="{{data.actor_id}}">{{data.first_name}} {{data.last_name}}</option>
            {% endfor %}
         </select>
         <input type="hidden" name="film_id" value="{{film.film_id}}">
      <button type="submit">Add</button>
</body>
</html>
