<html>
<head>
    <title>Exercises</title>
</head>
<body>
    <h3>Exercises</h3>
    <a href="/add_exercise">ADD</a>
    <br><br>
    <table style="border-spacing: 20px; border-collapse: separate;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Exercise Name</th>
                <th>Muscle Group ID</th>
                <th>Equipment ID</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.id }}</td>
                <td>{{ exercise.exercise_name }}</td>
                <td>{{ exercise.muscle_group_id }}</td>
                <td>{{ exercise.equipment_id }}</td>
                <td>{{ exercise.description or 'N/A' }}</td>
                <td>
                    <a href="/delete_exercise/{{ exercise.id }}">Delete</a>
                    <a href="/edit_exercise/{{ exercise.id }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
