

<h2>📏 Body Metrics</h2>

<a href="{{ url_for('add_metric_form', user_id=user_id) }}" 
   class="btn btn-primary">➕ Add Metric</a>

<br><br>

<table border="1" cellpadding="8" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Weight (lbs)</th>
        <th>Height (in)</th>
        <th>Actions</th>
    </tr>

    {% for m in metrics %}
<tr>
    <td>{{ m.metric_id }}</td>
    <td>{{ m.measurement_date }}</td>
    <td>{{ m.weight }}</td>
    <td>{{ m.height }}</td>
    <td>
        <a style="color:red;" href="{{ url_for('delete_metric_route', id=m.metric_id) }}">
            🗑 Delete
        </a>
    </td>
</tr>


</table>

