

<h2>Nutrition Logs</h2>

<a class="btn" href="{{ url_for('add_nutrition_form', user_id=user_id) }}">➕ Add Entry</a>

<table>
<tr>
    <th>ID</th>
    <th>Calories</th>
    <th>Protein</th>
    <th>Carbs</th>
    <th>Fat</th>
    <th>Date</th>
    <th>Delete</th>
</tr>

<tr>
    <td>{{ n.nutrition_id }}</td>
    <td>{{ n.calories }}</td>
    <td>{{ n.protein }}</td>
    <td>{{ n.carbs }}</td>
    <td>{{ n.fat }}</td>
    <td>{{ n.log_date }}</td>
    <td>
        <a style="color:red;" href="{{ url_for('delete_nutrition_route', id=n.nutrition_id) }}">❌ Delete</a>
    </td>
</tr>
</table>

