<html>
<head>
	<title>Index Page</title>
</head>
<body>
	<h3>Top 5 Customers By Money Spent, with City and Country</h3>
      <br>
      <table style="border-spacing: 30px;">
         <thead style="padding:15px">
            <th>Id</th>
            <th>Customer Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Total Spent</th>
         </thead>
         {% for data in top5custs %}
         <tbody style="padding-right:15px">
            <td>{{data.customer_id}}</td>
            <td>{{data.customer_name}}</td>
            <td>{{data.city}}</td>
            <td>{{data.country}}</td>
            <td>{{data.total_spent}}</td>
        </tbody>
         {% endfor%}
      </table>
</body>
</html>
